body{
    display: flex;
    flex-direction: column;
    background: aliceblue;
    border-bottom: solid brown 3px;
    margin-bottom: 0;
}

nav{
    
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 15px;
    

}
nav div{
    border-bottom: solid transparent;
}

nav div:hover{
    border-bottom: solid gray;
    cursor: pointer;
}
#dashboard{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 10px;
}


#brandName{
    
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#brandName img{
    width: 180px;
}

#brandName h2 {
    
    text-align: center;
    font-size: 60px;
    margin: 0;

}

#quotation{
    
    font-size: 21px;
    text-align: right;
    font-family: monospace;
    padding-left: 10px;
}

#howItWorks{
    
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.images{
    max-width: 100%;
    /* height: 500px; */
    transition : height 1s;
}

#imagesDiv{
    display: flex;
    flex-direction: column;
}












/* band profile*/

#bandSection{
    background : url('./images/splash-1763305_960_720.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}

.profileImage{
    
    width: 230px;
    height: 230px;
    border-radius: 50%;

}

.profileCard{
    display: flex;
    font-size: 20px;
    padding: 10px;
    transition :  background 1s;


}

/* .profileCard:hover{
    background: #00800047;
    box-shadow: 2px 8px 9px 0px;
    color: aliceblue;
} */

.profileCard .left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    font-family: cursive;


}

.profileButton{
    
    border: solid gray .1px;
    background: transparent;
    font-size: 18px;

}

.seeMoreButton{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 10px;
}

/* footer */

#footer{
    display: flex;
    justify-content: center;    
}

#footer h2{
    margin: 0;
    font-weight: lighter;
}


@media only screen and (max-width: 600px) {

    nav{
        font-size: 15px;
    }

    #brandName h2{
        font-size: 30px;
        font-weight: lighter;

    }

    #brandName img {
        width: 100px;   
    }

    #dashboard {
      flex-direction: column;
      height: auto;
    }

    .profileCard .left{
        align-items : initial;
        font-weight: normal;
        font-size: 16px;
    }

    .profileCard .right img{
        width: 100px;
        height : 100px;
    }

    #howItWorks{
        height: 600px;
    }
   
  }